{% extends 'base.html.twig' %}
{% block metadescription %}{{product.description |slice(0, 200)}}{% endblock %}
{% block title %}<!--nom article-->{% endblock %}
{% block body %}
	<div class="container container-one-product">
		<div class="row">
			<div class="col-lg-6">
				<img src="{{product.image}}" alt="{{product.name}}" class="img-fluid" width="50%">
			</div>
			<div class="col-lg-6">
				<div class="presentation">
					<h1 class="display-6 title-product">{{product.name}}</h1>
					<p class="price">{{product.price}} €</p>
					<p class="lead">{{product.description}}</p>
				</div>
				<div class="description">
					<p class="description-title"><span class="small-ellipse">DE</span>SCRIPTION: </p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est maiores voluptatem animi et magni culpa rerum dolorem! Tempore, sunt quas? Et modi a dolores nisi? Labore assumenda inventore itaque libero? </p>
				</div>
			</div>
			<div class="container advice col-lg-5 mt-5">
				<div class="container">
					<p class="title-advice">LE CONSEIL DU PARISIEN<span class="framboise">.</span></p>
					<p class="text-advice">{{product.advice}}</p>
				</div>
			</div>
		</div>
		<div class="container-fluid similar-products">
			<div class="container mt-5">
			<p class="title-similar-products">Produits similaires</p>
				<h3 class="title-promo">Nos clients ont aussi aimé</h3>
				<div class="row">
				{% for i in 0..2 %}
					<div class="col-lg-4 col-md-6 col-sm-12 my-3">
						<a href="{{path ('product_show', {'slug': suggestions[i].slug})}}" id="suggestion-link">
						<img src="{{suggestions[i].image}}" class="card-img topimage _b1" alt="{{suggestions[i].name}}">
						<div class="card-body text-center">
							<h5 class="card-title-article">{{suggestions[i].name}}</h5></a>
							<p class="from">à partir de {{suggestions[i].price}}€</p>
                            <p class="hashtags">#BOBO #HIPSTER</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
    </div>

	{% endblock %}

