{% extends 'base.html.twig' %}
{% block metadescription %}{{product.description |slice(0, 200)}}{% endblock %}
{% block title %}<!--nom article-->{% endblock %}
{% block body %}
	<div class="container container-one-product">
		<div class="row">
			<div class="col-lg-6">
				<img src="{{product.image}}" alt="{{product.name}}" class="img-fluid" width="50%">
			</div>
			<div class="col-lg-6">
				<div class="presentation">
					<h1 class="display-6 title-product">{{product.name}}</h1>
					<p class="lead">{{product.description}}</p>
				</div>
				<div class="description">
					<p class="description-title">DESCRIPTION:</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est maiores voluptatem animi et magni culpa rerum dolorem! Tempore, sunt quas? Et modi a dolores nisi? Labore assumenda inventore itaque libero? </p>
				</div>
                {% if product.size %}
                <p>Tailles</p>
                {% endif %}
			</div>
			<div class="container advice col-lg-5 mt-5">
				<div class="container">
					<p class="title-advice">LE CONSEIL DU PARISIEN</p>
					<p class="text-advice">{{product.advice}}</p>
				</div>
			</div>
		</div>

		<div class="container-fluid similar-products">
			<div class="container mt-5">
			<p class="title-similar-products">Produits similaires</p>
				<h3 class="title-promo">Nos clients ont aussi aimé</h3>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12 my-3">
						<img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c18da2efe501464ba268a80b00baccbe_9366/Chaussure_Stan_Smith_Blanc_M20605_01_standard.jpg" class="card-img topimage _b1" alt="">
						<div class="card-body text-center">
							<h5 class="card-title-article">ADIDAS</h5>
							<p class="from">à partir de ?€</p>
                            <p class="hashtags">#BOBO #HIPSTER</p>
						</div>
					</div>
                    <!--ici supprimer les fausses cards-->
                    <div class="col-lg-4 col-md-6 col-sm-12 my-3">
						<img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c18da2efe501464ba268a80b00baccbe_9366/Chaussure_Stan_Smith_Blanc_M20605_01_standard.jpg" class="card-img topimage _b1" alt="">
						<div class="card-body text-center">
							<h5 class="card-title-article">ADIDAS</h5>
							<p class="from">à partir de ?€</p>
                            <p class="hashtags">#BOBO #HIPSTER</p>
						</div>
					</div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-3">
						<img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c18da2efe501464ba268a80b00baccbe_9366/Chaussure_Stan_Smith_Blanc_M20605_01_standard.jpg" class="card-img topimage _b1" alt="">
						<div class="card-body text-center">
							<h5 class="card-title-article">ADIDAS</h5>
							<p class="from">à partir de ?€</p>
                            <p class="hashtags">#BOBO #HIPSTER</p>
						</div>
					</div>
                    <!--fin fausses cards-->
				</div>
			</div>
		</div>
    </div>

	{% endblock %}

